<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bilvask
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-slides [options]="slideOpts" #slides >

        <ion-slide>
          <ion-list>
            <ion-list-header lines="inset">
              <ion-label>Vælg lokation</ion-label>
            </ion-list-header>
            <ion-card (click)="selectLocation(location)" *ngFor="let location of locations">
              <ion-card-header>
                <ion-card-title>{{location.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{location.address}}, {{location.postalCode}} {{location.city}}
              </ion-card-content>
            </ion-card>
          </ion-list>

        </ion-slide>

        <ion-slide>
          <ion-list>
            <ion-list-header lines="inset">
              <ion-label>Vælg vasketype i {{selectedLocation?.name}}</ion-label>
            </ion-list-header>
            <ion-card (click)="selectWashType(washType)" *ngFor="let washType of washTypes">
              <ion-card-header>
                <ion-card-title>{{washType.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{washType.price}} kr.
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>

        <ion-slide>
          <h1 *ngIf="selectedWashType">{{selectedWashType.name}}</h1>
        </ion-slide>

      </ion-slides>
  <!--
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="abort()">Afbryd</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
-->
</ion-content>
