<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bilvask
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts" #slides >

    <ion-slide>
      <ion-list>
        <ion-card (click)="selectLocation(location, slides, 1)" *ngFor="let location of locations">
          <ion-card-header>
            <ion-card-title>{{location.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{location.address}}, {{location.postalCode}} {{location.city}}
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <h1 *ngIf="selectedLocation">Vasketyper på {{selectedLocation.name}}</h1>
      <ion-list>
        <ion-card (click)="selectWashType(washType, slides, 2)" *ngFor="let washType of washTypes">
          <ion-card-header>
            <ion-card-title>{{washType.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{washType.price}} kr.
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <h1 *ngIf="selectedWashType">{{selectedWashType.name}}</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
