<ion-tabs>

  <ion-tab-bar slot="bottom" [hidden]="userFlowActive">
    <ion-tab-button tab="wash">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Vask</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Transaktioner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
