<ion-header class="ion-text-center">
  <ion-toolbar>
    <h1>Tilmeld ny bruger</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="signUpForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Navn</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Navn er påkrævet.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
      Navne må ikke indeholde tal eller special tegn.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      E-mail er påkrævet.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.email">
      E-mailen skal være en valid E-mail
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Telefonnr.</ion-label>
      <ion-input formControlName="phoneNumber" type="number" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Telefonnr. er påkrævet.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength || errorControl.name.errors?.maxlength">
      Telefonnr. skal være på 8 tegn.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Kodeord</ion-label>
      <ion-input formControlName="passwordFirst" type="password" required></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Gentag kodeord</ion-label>
      <ion-input formControlName="passwordSecond" type="password" required></ion-input>
    </ion-item>


    <ion-row class="ion-justify-content-center">
      <ion-button class="submitBtn" type="submit" color="danger">Indsend</ion-button>
    </ion-row>

  </form>
</ion-content>
