<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="loggedInUser">
    <ion-card-header>
      <ion-card-title>Navn</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{loggedInUser.name}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loggedInUser">
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{loggedInUser.email}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loggedInUser">
    <ion-card-header>
      <ion-card-title>Telefon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{loggedInUser.phoneNumber}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loggedInUser">
    <ion-card-header>
      <ion-card-title>Abonnement</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{loggedInUser.subscription.name}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="plateList.length > 0">
    <ion-card-header>
      <ion-card-title>Nummerplader</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let plate of plateList">
      <h1>{{plate.licensePlate}}</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
